/* Global styling for the login form */
.body-login {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
  }
  
  .login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .login-input:focus {
    border-color: #4CAF50; /* Change to your preferred color */
  }
  
  .login-button {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #45a049; /* Hover effect for button */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .login-form {
      padding: 20px;
      max-width: 90%;
    }
  }
  